@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap);
body {
    height: 100vh;
}

.popup,
.popup_login {
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    width: 380px;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transform: translate(-50%, -50%) scale(0.9);
    transition: top 0ms ease-in 200ms, opacity 200ms ease-in 0ms,
        transform 400ms ease-in 0ms;
}
.popup.active,
.popup_login.active {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0, opacity 200ms ease-in-out 0ms,
        transform 200ms ease-in-out 0ms;
}
.popup > .close-btn,
.popup_login > .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background-color: #888;
    color: var(--white);
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}
.popup > .form > h2,
.popup_login > .form > h2 {
    text-align: center;
    color: var(--dblue);
    margin: 10px 0px 20px;
    font-size: 25px;
}
.popup > .form > .form-element,
.popup_login > .form > .form-element {
    margin: 15px 0px;
}
.popup > .form > .form-element > label,
.popup_login > .form > .form-element > label {
    font-size: 14px;
    color: #222;
}
.popup > .form > .form-element > input[type="text"],
.popup > .form > .form-element > input[type="password"],
.popup_login > .form > .form-element > input[type="text"],
.popup_login > .form > .form-element > input[type="password"] {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}
.popup > .form > .form-element > input[type="checkbox"],
.popup_login > .form > .form-element > input[type="checkbox"] {
    margin-right: 5px;
}
.popup > .form > .form-element > button,
.popup_login > .form > .form-element > button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background: #222;
    color: var(--white);
    border-radius: 10px;
    cursor: pointer;
}

.ac_nav {
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
}

.ac_nav > img {
    width: 80px;
    margin-top: 10px;
}

.ac_nav > ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}

.ac_nav > ul > li {
    list-style: none;
}

.ac_nav > ul > li > a {
    text-decoration: none;
    color: var(--dblue);
}

.ac_nav > ul > li > button {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    color: var(--white);
    background: var(--red);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.welcome {
    background-image: url("/images/la1.jpg");
    background-size: cover;
    background-position-y: -245px;
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(149, 148, 148, 0.342);
    width: 80%;
    height: 500px;
    border-radius: 5px;
}

.welcome > div > p {
    font-size: 50px;
    font-weight: 500;
    color: var(--white);
    margin-bottom: 100px;
}
.welcome > div > button {
    width: 200px;
    height: 50px;
    font-size: 25px;
    color: var(--white);
    background-color: var(--red);
    border: none;
    border-radius: 5px;
}

.service {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    gap: 60px;
    width: 75%;
    margin: 100px auto;
}

.s1,
.s2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.s1 > div > h1,
.s2 > div > h1 {
    margin-bottom: 15px;
}

.s1 > div > p,
.s2 > div > p {
    font-size: 18px;
}

.s_svg {
    width: 500px;
    display: block;
    margin: 0 auto;
}

.stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 50px;
    width: 75%;
    margin: 50px auto;
}

.stats > .card {
    padding: 50px 0;
}

.stats > .card > .head {
    font-size: 70px;
    margin-bottom: 20px;
}

.stats > .card > .label {
    font-size: 30px;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
    width: 75%;
    margin: 70px auto;
}

.con_info {
    height: 340px;
    width: 300px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.map {
    justify-self: end;
}

.con_info > .head {
    font-size: 30px;
}

.con_info > a {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.con_info > p > span {
    font-weight: bold;
}

.con_logo {
    fill: var(--red);
}

.big_logo {
    grid-area: logo;
    align-self: center;
}

.big_logo > img {
    width: 175px;
}

.apps {
    grid-area: apps;
    align-self: center;
    justify-self: end;
}
.copyright {
    grid-area: copyright;
    align-self: center;
    justify-self: center;
}

footer {
    width: 75%;
    margin: 50px auto;
    display: grid;
    grid-template-areas:
        "logo apps"
        "copyright copyright";
    height: 170px;
}

.navbar {
    background-color: rgba(200, 200, 200, 0.1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Dropdown Button */
.dropbtn {
    color: white;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 68px;
    border: 2px solid #f1f1f1;
    border-radius: 50px;
    margin-top: 5px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    background-color: #f1f1f1;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    justify-self: end;
    align-self: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 4.333px;
    bottom: -228.4px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

.formulaire {
    padding-left: 210px;
    padding-top: 40px;
    display: flex;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.formulaire > p {
    padding-top: 49px;
    padding-left: 21px;
}
.user_icon {
    height: 75px;
    width: 62px;
    padding-top: 18px;
    margin-top: 10px;
}
.logo {
    width: 80px;
    margin-top: 10px;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.compte {
    padding-top: 49px;
    padding-left: 210px;
}
.compte > form > input {
    margin-top: 10px;
    margin-bottom: 25px;
}
.countainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.compte {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    font-size: 20px;
}
.compte > div > input {
    margin-top: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 460px;
    height: 45px;
    padding-left: 20px;
}
.compte > div > select {
    padding-bottom: 3px;
    margin-top: 17px;
    padding-top: 3px;
    width: 460px;
    height: 45px;
    padding-left: 20px;
}
#sv_btn {
    width: 200px;
    height: 50px;
    display: block;
    margin: 50px auto;
    background-color: black;
    color: #fff;
    border: none;
}
#sv_btn:hover {
    cursor: pointer;
}
.countainer > label > p:hover {
    cursor: pointer;
}

.c_h1 {
    margin: 60px 0 40px 220px;
    font-size: 40px;
}

.c_form {
    font-size: 22px;
    display: flex;
}

.c_form > form {
    margin: auto;
    width: 1240px;
}

input,
select,
textarea {
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;
}

.c_f_lang,
.c_f_area,
.c_f_titre,
.c_f_photo {
    margin-top: 40px;
}

.c_f_ville > input,
.c_f_titre > div > input {
    margin-top: 20px;
    width: 460px;
    height: 45px;
    padding-left: 20px;
}

.c_f_lang {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.c_f_lang > div > select {
    margin-top: 20px;
    width: 460px;
    height: 45px;
    padding-left: 20px;
}

.c_f_area > p {
    font-weight: lighter;
    font-size: 14px;
    margin: 20px 0;
}

.c_f_area > textarea {
    width: 460px;
    padding: 20px;
}

.c_f_titre {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.c_f_photo > label > span {
    font-size: 14px;
    color: red;
}

.c_f_photo > input {
    margin-top: 20px;
}

.c_f_prix {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
}

.c_f_prix > div > input[type="number"] {
    margin-top: 20px;
    padding: 10px;
    width: 460px;
}

#sb_btn {
    width: 200px;
    height: 50px;
    display: block;
    margin: 50px auto;
    background-color: tomato;
    color: #fff;
    border: none;
}

<<<<<<< HEAD
=======
.v_type_list {
    margin: 50px 50px;
}

.v_type_list > form > ul > li {
    display: inline;
}

.v_type_list > form > ul > li > input {
    padding: 6px 15px;
    font-size: 24px;
    border: none;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    background-color: white;
}

.v_type_list > form > ul > li > input:hover {
    transition: 0.5s;
    color: var(--white);
    background-color: var(--red);
}

.v_type_list > form > ul > li > input.active {
    box-shadow: 0 4px var(--red);
}

.voyages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 200px;
    width: 75%;
    margin: 0 auto;
}
.voyages > .card {
    width: 100%;
}

.voyages > .card > img {
    width: 380px;
    height: 380px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 15px;
}

.voyages > .card > .head > span,
.voyages > .card > .info > span {
    text-align: end;
}

.voyages > .card > .head {
    margin: 10px 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.voyages > .card > .head > p {
    font-size: 20px;
    font-weight: 500;
}

.voyages > .card > .head > span {
    font-size: 20px;
}

.voyages > .card > .info {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.voyages > .card > .info > div {
    display: grid;
    grid-template-columns: 1fr 8fr;
    align-items: center;
}

.voyages > .card > .info > span {
    font-weight: 300;
}

.voyages > .card > .info > span {
    font-weight: 300;
}

.detail_body {
    width: 70%;
    margin: 15px auto;
}

.detail_body > hr {
    width: 760px;
    margin: 20px 0;
}

.detail_head {
    margin: 70px 0 60px 0;
}

.detail_titre > h1 {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 10px;
}

.detail_info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.detail_rating {
    display: grid;
    grid-template-columns: 1fr 15fr;
    align-items: center;
}

.detail_save {
    display: grid;
    grid-template-columns: 4fr 2fr;
    justify-items: end;
}

.detail_imgs {
    width: 760px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 14px;
    overflow-x: scroll;
}

.detail_imgs > img {
    width: 240px;
    height: 350px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 5px;
}

.detail_organiser {
    margin: 30px 0;
}

.section_title {
    font-size: 24px;
    margin-bottom: 9px;
}

.detail_organiser > span {
    font-weight: 300;
}

>>>>>>> voyagesPage
* {
    font-family: roboto, sans-serif, serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: var(--dblue);
}

:root {
    --red: #f50057;
    --white: #f5f5f5;
    --dblue: #2f2e41;
}
