*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}
body {
font-family: "Raleway",sans-serif;
height: 100vh;
}
.navbar{
    background-color: rgba(200,200,200,0.1);
    user-select: none;
    height: 70px;
    padding-top: 15px;
    padding-bottom: 10px;
}

ul > li {
    padding-bottom: 10px;
}
 /* Dropdown Button */
 .dropbtn {
    color: white;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 68px;
    border: 2px solid #f1f1f1;
    border-radius: 50px;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #f1f1f1;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: -5.667px;
    bottom: -228.4px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;} 

  .formulaire{
      padding-left: 210px;
      padding-top: 80px;
      display: flex;
      user-select: none;
  }
  .formulaire > p {
    padding-top: 49px;
    padding-left: 21px;
  }
  .user_icon {
    height: 75px;
    width: 62px;
    padding-top: 18px;
    margin-top: 10px;
  }
  .logo{
    height: 80px;
    width: 173px;
  }
  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .compte {
    padding-top: 49px;
    padding-left: 210px;
  }
  .compte > form > input{
    margin-top: 10px;
    margin-bottom: 25px;
  }
  .countainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  .compte {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
  .compte > div > input{
   margin-top: 17px;
   padding-top: 3px;
   padding-bottom: 3px;
  }
  .compte > div > select{
    margin-top: 17px;
    padding-top: 3px;
    padding-bottom: 3px;
   }
   #sv_btn{
      width: 200px;
      height: 50px;
      display: block;
      margin: 50px auto;
      background-color: black;
      color: #fff;
      border: none;
   }
   #sv_btn:hover{
     cursor: pointer;
   }
   .countainer > label > p:hover{
     cursor: pointer;
   }