@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');
*{
  font-family: roboto, sans-serif, serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root{
  --red: #F50057;
  --white: #f5f5f5;
}

@import url(./acceuil.css);
@import url(./account.css);
@import url(./cree_page.css);
